@model MyPegasus.Web.Models.Trip.AllTripsViewModel

@{
    ViewBag.Title = "Trips";
}

<div>
    @Html.ActionLink("Create New Trip", "Create", "Trip", new { customerId = Model.CustomerId }, null)
</div>

<h2>Trips</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Arrival</th>
        <th>Created</th>
        <th>Departure</th>
        <th>Title</th>
    </tr>
    @foreach (var trip in Model.Trips)
    {
        <tr>
            <td>@trip.Id</td>
            <td>@trip.Arrival</td>
            <td>@trip.Created</td>
            <td>@trip.Departure</td>
            <td>@trip.Title</td>
        </tr>
    }
</table>
